"./to_do.docx"
./apply_cal+QC/WISPER_raw_data/
./apply_cal+QC/WISPER_calibrated_data/
./apply_cal+QC/outlier_time_intervals/
./apply_cal+QC/__pycache__/
./level3_products/__pycache__/
./level3_products/.ipynb_checkpoints/